.main-field{
	background-color: rgb(194,194,194);
}
.left-news-feed{
	width: 100%;
	margin-top: -0.8%;
	float: left;
}
.top-users-field{
	margin-left: 19%;
}
.agent-information{
	margin-left: 18.5%;
	margin-top: 0.2%;
}
.agent-event-information{
	margin-left: 38%;
}